@import "~config/index";

.btn {
  text-decoration: none;
  display: inline-block;
  color: $primary_color;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-radius: 2px;
  background-color: $primary_bg;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    background-color: darken($primary_bg, 10%);
  }
  &:active {
    background-color: darken($primary_bg, 15%);
  }
}
